#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#nav h1{
    font-size: 35px;
}
.navDiv{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
