.bug-view {
	width: 60vw;
    height: 78vh;
	border: 1px solid #05e6ee;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.76);
	border-radius: 8px;
	background-color: gray;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
}

.bugview-title{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
    border-bottom: 1px groove #05e6ee;
}
.edit-panel-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.new-bug-form{
    max-width: 40vw;
}
