/front-end-bug-tracker/node_modules
/back-end/node_modules
/back-end/.env
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front-end-bug-tracker/node_modules
/front-end-bug-tracker/.pnp
front-end-bug-tracker/.pnp.js

# testing
/front-end-bug-tracker/coverage

# production
/front-end-bug-tracker/build

# misc
front-end-bug-tracker/.DS_Store
front-end-bug-tracker/.env.local
front-end-bug-tracker/.env.development.local
front-end-bug-tracker/.env.test.local
front-end-bug-tracker/.env.production.local

front-end-bug-tracker/npm-debug.log*
front-end-bug-tracker/yarn-debug.log*
front-end-bug-tracker/yarn-error.log*