.bugCard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82vw;
    flex-direction: column;
    height: 100vh;
}
.bug-card{
    box-shadow: 2px 2px 2px;
    text-align: center;
    margin: 10px;
    min-width: 275px;
    min-height: 200px;
}
.bug-card:hover{
    transition: all 0.2s;
    transform: scale(1.05);
    
}
.testBtn{
    min-width: 100vw;
    margin-left: 80vw;
}