.dash-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82vw;
    flex-direction: column;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#nav h1{
    font-size: 35px;
}

